body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(assets/imgs/);
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.perguntas {
    border: solid;
    height: 100%;
    border-radius: 15px;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.alternativas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8vh;
    gap: 4vh;
    grid-template-rows: 1fr 1fr 1fr;
    cursor: pointer;
    font-style: italic;
}


.respostas {
   background-color: #fff;
    border-radius: 10px;
    border: 2px solid #2b37e2;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(5, 5, 5, 0);
    cursor: pointer;

}
.respostas .hover{
     background-color: #2b3de2;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}