@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(assets/imgs/images2.jpeg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid color gray;
    border-radius: 10px;
    color: aliceblue;
    padding: 30px 40px;
    box-shadow: 8px 20px 41px -2px rgba(70, 156, 205, 1);
    position: relative;

    .Bh{
        position: absolute;
        top: 2%;
        left: 7%;
        color: rgb(182, 253, 253);
        border-radius: 70%;
        font-size: 120%;
    }
    



    .h1 {
        font-size: 36px;
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        color: rgb(245, 248, 248);
        margin-top: 53px;
        
    }



    .input-box {
        position: relative;
        width: 100%;
        height: 80px;
        margin: 30px 0
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background-color: rgba(240, 248, 255, 0.055);
        border: 2px solid;
        outline: none;
        font-size: 16px;
        color: rgb(248, 248, 248);
        padding: 20px 45px 20px 20px;
        margin-top: 20px;
    }

    .input-box input::placeholder {
        color: rgb(238, 244, 247);
    }

    .nao-conta {
        text-decoration: none;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(14, 114, 214);
    }

    .nao-conta:hover {
        text-decoration: underline;
    }

    .link-registro a {
        text-decoration: none;
        font-weight: 500;
        color: aliceblue;
    }



    .lembrar-senha a {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(35, 142, 236);
    }

    .lembrar-senha label input {
        accent-color: rgb(9, 129, 235);
        margin-right: 5px;
    }

    .lembrar-senha a {
        text-decoration: none;
        color: rgb(232, 236, 236);
        background-color: rgba(0, 0, 0, 0.582);
    }

    .lembrar-senha a:hover {
        text-decoration: underline;
    }

    .botao {
        width: 100%;
        height: 40px;
        background-color: rgb(241, 240, 243);
        border: none;
        border-radius: 40px;
        cursor: pointer;
        font-size: 17px;
        color: rgb(12, 12, 12);
        font-weight: 600;
        box-shadow: rgb(241, 240, 243);


    }

    .botao:hover {
        background-color: rgb(11, 184, 215);
        border: 2px solid;
        color: aliceblue;
        transition: 0.5s;
    }

    .link-registro {
        font-size: 15px;
        text-align: center;
        margin: 20px 0 15px;
    }





}






